{
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["^src/(.*)$", "@repo/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["jsx", "typescript", "decorators-legacy"]
}
